In [82]:
import pandas as pd
from scipy import stats

In [83]:
edu_data= pd.read_csv(r"C:\Users\Student\Desktop\Python\education_districtwise.csv")
edu_data= edu_data.dropna()

In [84]:
edu_data.head()

      DISTNAME STATNAME  BLOCKS  VILLAGES  CLUSTERS  TOTPOPULAT  OVERALL_LI
0   DISTRICT32   STATE1      13       391       104    875564.0       66.92
1  DISTRICT649   STATE1      18       678       144   1015503.0       66.93
2  DISTRICT229   STATE1       8        94        65   1269751.0       71.21
3  DISTRICT259   STATE1      13       523       104    735753.0       57.98
4  DISTRICT486   STATE1       8       359        64    570060.0       65.00

In [85]:
State21= edu_data[edu_data["STATNAME"]=="STATE21"]
State21

        DISTNAME STATNAME  BLOCKS  VILLAGES  CLUSTERS  TOTPOPULAT  OVERALL_LI
133  DISTRICT607  STATE21      14      1357       127   3464228.0       72.03
134   DISTRICT50  STATE21      12       594        86   4138605.0       70.11
135   DISTRICT61  STATE21      16      1919       159   3683896.0       70.43
136  DISTRICT191  STATE21      10      1141        69   4773138.0       58.67
137  DISTRICT328  STATE21       7      1116        85   2335398.0       55.08
..           ...      ...     ...       ...       ...         ...         ...
199  DISTRICT587  STATE21      10      1331       119   3682194.0       77.05
201  DISTRICT504  STATE21      13      1469       106   2494533.0       70.38
202   DISTRICT88  STATE21       8      1033        67   1862612.0       66.18
203  DISTRICT427  STATE21       7       805        80   1554203.0       71.10
204  DISTRICT658  STATE21      10       886        80   1438156.0       62.30

[71 rows x 7 columns]

In [86]:
state28= edu_data[edu_data['STATNAME']=="STATE28"]
state28

        DISTNAME STATNAME  BLOCKS  VILLAGES  CLUSTERS  TOTPOPULAT  OVERALL_LI
208  DISTRICT495  STATE28      18      1210       193   3922780.0       58.06
209  DISTRICT208  STATE28      27      1534       251   5082868.0       58.26
210  DISTRICT618  STATE28       5       183        34    656916.0       56.00
211  DISTRICT554  STATE28      17       852       169   3419622.0       53.53
212  DISTRICT642  STATE28      21      1102       241   4476044.0       60.90
213  DISTRICT347  STATE28      11       623        94   2228397.0       59.65
214    DISTRICT4  STATE28       9       990       140   2806200.0       55.10
215   DISTRICT52  STATE28       7       978       131   1690948.0       57.04
216  DISTRICT291  STATE28      14      1188       165   3273127.0       52.49
217  DISTRICT266  STATE28      16      1621       173   3068149.0       53.56
218  DISTRICT227  STATE28      13       404       126   1994618.0       53.78
219  DISTRICT459  STATE28      10       651       107   1897102.0       54.57
220  DISTRICT569  STATE28      19      1168       191   3921971.0       58.26
221  DISTRICT501  STATE28      16      1828       258   4778610.0       65.68
222  DISTRICT663  STATE28      14      1358       120   2558037.0       67.04
223  DISTRICT330  STATE28      19      1405       171   3318176.0       71.59
224  DISTRICT290  STATE28      20      1564       178   3943098.0       68.57
225  DISTRICT295  STATE28      16      1187       182   3495249.0       68.56
226  DISTRICT638  STATE28      20      1138       182   4254782.0       63.81
227  DISTRICT159  STATE28      18       870       134   2954367.0       66.23
228  DISTRICT251  STATE28       7       287        88   1657599.0       60.87
229  DISTRICT583  STATE28      17      1394       156   3032226.0       64.96
230  DISTRICT109  STATE28      11      1340       178   2029339.0       60.12
231  DISTRICT451  STATE28       9       535        78   1359054.0       73.30
232  DISTRICT216  STATE28       7       471        61   1000717.0       64.95
233   DISTRICT67  STATE28       6       355        43    634927.0       65.96
234  DISTRICT517  STATE28      20      1114       189   2872523.0       66.41
235  DISTRICT111  STATE28      24      1600       266   5772804.0       72.47
236  DISTRICT379  STATE28      14      1204       159   2720155.0       72.79
237  DISTRICT151  STATE28      11       767       101   1707643.0       71.77
238   DISTRICT64  STATE28      11      1101        73   1626900.0       71.01
239  DISTRICT374  STATE28      19      1907       200   2962593.0       75.59
240  DISTRICT463  STATE28       7       512        69   1124176.0       68.27
241  DISTRICT324  STATE28      11      1690       172   2511243.0       72.77
242  DISTRICT285  STATE28      24      2334       252   4379383.0       66.35
243  DISTRICT387  STATE28      14       953       132   2216653.0       61.63
244   DISTRICT47  STATE28      10      1054       143   1756078.0       62.16
245  DISTRICT418  STATE28       5       307        33    699563.0       69.54

In [60]:
mean_21= State21["OVERALL_LI"].mean()
mean_21

69.48718309859157

In [61]:
mean_28= state28["OVERALL_LI"].mean()
mean_28

63.77894736842105

In [94]:
rd21_sample= State21["OVERALL_LI"].sample(n=20, replace=True, random_state=13490)

In [95]:
rd28_sample=state28["OVERALL_LI"].sample(n=20, replace=True, random_state=39103)

In [96]:
sample_mean21= rd21_sample.mean()
sample_mean28= rd28_sample.mean()

In [97]:
sample_mean21

70.82900000000001

In [98]:
sample_mean28

64.60100000000001

The steps for conducting a hypothesis test are:

State the null hypothesis and the alternative hypothesis.

Choose a significance level.

Find the p-value.

Reject or fail to reject the null hypothesis.

significance level  standard level of 5%, or 0.05.

Find the p-value

In [91]:
#𝐻0 There is no difference in the mean district literacy rates between STATE21 and STATE28.
#𝐻𝐴 There is a difference in the mean district literacy rates between STATE21 and STATE28.

In [100]:
stats.ttest_ind(a=sample_mean21, b=sample_mean28,equal_var= False)

TtestResult(statistic=nan, pvalue=nan, df=1.0)